{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
    <!-- Lista de Posts -->
    <div id="content-publish">
        {% if tag %}
            <h2>Posts tagged with "{{ tag.name }}"</h2>
        {% endif %}
        {% for post in posts %}
        <div class="card mb-3 card-container" style="max-width: 740px; max-height: 300px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% load thumbnail %}
                    <a href="{{ post.imagem.url }}">
                        <img src="{% thumbnail post.imagem 300x300 %}" alt="" class="img-fluid card-img">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{post.get_absolute_url}}">{{ post.titulo }}</a>
                        </h5>
                        <p class="card-text-posts">{{ post.resumo }}</p>
                        <p class="card-text"><small class="text-muted">Publicado: {{ post.publicado }} por {{ post.autor }}</small></p>
                    </div>
                </div>
            </div>    
        </div>            
        {% endfor %}
    </div>         
    {% include "pagination.html" with page=posts %}
{% endblock %}