{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
    <h1 class="title">
        Blog Programador Sardinha
    </h1>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2> 
            <a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a>     
        </h2>          
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>{{ post.resumo }}</p>
        <p>
            Publicado: {{ post.publicado }} por {{ post.autor }}
        </p>
    {% endfor %}

    {% include "pagination.html" with page=posts %}

{% endblock %}